@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Baloo+2:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: #CE7D3B;
    /* background: linear-gradient(to top, #e7a45f 10%, #ffd7a1 100%); */
    font-family: "AR One Sans", sans-serif;
}

.scene-container {
    /* width: 100vw; */
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* 
img {
    width: 420px;
} */

header {
    position: absolute;
    width: calc(100% - 48px);
    margin: 0 24px 0 24px;
    padding: 24px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    color: white;
}

.head-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 500;
}



.div {
    width: 100%;
    /* padding: 0 34px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* z-index: 10; */
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* gap: 1rem; diminui o espaço entre o p e o h1 */
}


.p {
    font-family: "Baloo 2", sans-serif;
    letter-spacing: 1px;
    width: 400px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    /* width: 400px; */
}