body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background: linear-gradient(to top, #e7a45f 10%, #ffd7a1 100%);
    font-family: sans-serif;
}

.scene-container {
    /* width: 100vw; */
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.div {
    width: 100%;
    /* padding: 0 34px; */
    position: absolute;
    top: 30%;
    /* left: 50%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* z-index: 10; */
}

h1 {
    /* line-height: 20%; */
    /* width: 400px; */
    /* position: absolute; */
    /* top: 10px;
    left: 20px; */
    color: #fff2d6;
    font-size: 6.2rem;
    text-shadow: 1px 1px 4px #a67c52;
    /* z-index: 10; */
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* gap: 1rem; diminui o espaço entre o p e o h1 */
}


.p {
    width: 400px;
    color: rgb(255, 255, 255);
    /* width: 400px; */
}