body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    background: linear-gradient(to top, #e7a45f 10%, #ffd7a1 100%);
    font-family: sans-serif;
}

.scene-container {
    width: 100%;
    height: 100vh;
    /* altura fixa da área da cena */
    overflow: hidden;
    position: relative;
    /* NÃO absoluta! */
}

.div {
    width: 1400px;
    margin: 0 34px;
    position: absolute;
    top: 20%;
    /* left: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    /* width: 400px; */
    /* position: absolute; */
    top: 10px;
    left: 20px;
    color: #fff2d6;
    font-size: 5.2rem;
    text-shadow: 1px 1px 4px #a67c52;
    /* z-index: 10; */
}

text {
    display: flex;
    flex-direction: column;
}

.p {
    width: 400px;
    color: white;
    /* width: 400px; */
}