@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Baloo+2:wght@400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@theme {
    --color-primary: #CE7D3B;
    --color-secondary: #D9B281;
    --color-marrom: #37200E;

    /* Fontes */
    --ArOneSans: "AR One Sans", sans-serif;
    --font-Baloo2-HeroSection: "Baloo 2", sans-serif;
    --font-TitilliumWeb-HeroSection: "Titillium Web", sans-serif;

    --breakpoint-mobile-sm: 426px;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.NotoSans-HeroSection{
    font-family: "Noto Sans", sans-serif;
    line-height: 155%;
    letter-spacing: 1px;
}

.Baloo2-HeaderTitle {
    font-family: "Baloo 2", sans-serif;
    /* font-weight: 600; */
    letter-spacing: 1px;
}

.Baloo2-AboutParagraph {
    font-family: "Baloo 2", sans-serif;
    line-height: 155%;
    letter-spacing: 1px;
    color: white;
}

.AROneSans-H2 {
    font-family: "AR One Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

.bg-image {
    background-image: url('/src/assets/fundo-dunas-branca.svg');
}
